<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>강좌 목록</title>
        <style>
            span.price {
                text-decoration: line-through;
            }
        </style>
    </head>
    <body>
        <h1> 강좌 목록 </h1>
        <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

        <div>
            <a href="?">
                전체
                (
                <span th:text="${courseTotalCount}"></span>
                )
            </a>

            <th:block th:each="list : ${categoryList}">
                |
                <a th:href="'/course?categoryId=' + ${list.id}">
                    <span th:text="${list.categoryName}">카테고리명</span>
                    (
                    <span th:text="${list.courseCount}">0</span>
                    )
                </a>

            </th:block>
            <hr/>
        </div>

        <ul>
            <li th:each="list : ${courseList}">
                <div>
                    <a th:href="'/course/' + ${list.id}">
                        <h3 th:text="${list.subject}">강좌명</h3>
                    </a>
                    <div>
                        <p th:text="${list.summary}"></p>
                        <p>
                            판매가: <span class="price" th:text="${list.price}"></span>
                            할인가: <span th:text="${list.salePrice}"></span>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </body>
</html>