<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 비밀번호 초기화</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
<!--        페이지가 준비되면 호출되는 method-->
        $(document).ready(function () {
        // submit 할때 이벤트 발생
            $('form').on('submit', function (){
                // 여기서 this는 이벤트가 호출된 form을 의미
                var password = $(this).find('input[name=password]').val();
                var rePassword = $(this).find('input[name=rePassword]').val();

                if(password != rePassword){
                    alert(' 비밀번호와 확인 비밀번호가 일치하지 않습니다.');
                    return false; // false를 반환하면 서버로 데이터가 전송되지 않는다.
                }
            });
        });

    </script>
</head>
<body>
    <h1>회원 비밀번호 초기화</h1>
    <div th:if="${result eq true}">
        <form method="post">
            <div>
                <input type="password" name="password" placeholder="비밀번호 입력" required>
            </div>

            <div>
                <input type="password" name="rePassword" placeholder="확인 비밀번호 입력" required>
            </div>

            <div>
                <button type="submit"> 비밀번호 재설정</button>
            </div>
        </form>
    </div>
    <div th:if="${result eq false}">
        <p>입력 값이 유효하지 않습니다.</p>
        <a href="/">메인으로 이동</a>
    </div>





</body>
</html>